* {
  box-sizing: border-box;
}

#root{
  width: 100%;
  margin: 0;
  padding: 0;
}

header{
  width: 100%;
  height: 100px;
  padding: 30px 4% 10px;
  background-color: #e3f6f5;
  /* position: fixed; */
  top: 0;
  margin-top: 0;
}
header h1{
  font-size:large
}

main{
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  position: relative;
}

main h1{
  font-size: larger;
}
.card ul {
  margin: 0; /*余白をリセット*/
  padding: 0; /*余白をリセット*/
  list-style-type: none; /*マーカーを削除*/
  border: solid #3dbfb8; /*枠線*/
  border-width:1px 1px 0px 1px; /*枠線 太さ 上右下左*/
 }
 .card ul li {
  padding: 10px 20px; /*余白*/
  background: #e3f6f5; /*背景色*/
  border-bottom: solid 1px #3dbfb8;  /* 枠線・下 */
 }
 .card ul li:has(a){
  padding: 0px
}
 .card ul li a{
  display:block;
  padding: 10px;
  color: black;
  font-weight: normal;
}
.card ul li a:hover{
  background: #3dbfb8;
}

.card ul li:has(div){
  padding: 0px
}
 .card ul li div{
  display:block;
  padding: 10px;
  color: black;
  font-weight: normal;
}
.card ul li div:hover{
  background: #3dbfb8;
}

 .pagination {
  margin: 10px;
}
main button{
  border: solid 1px #3dbfb8;
  background: #e3f6f5;
  margin: 5px;
}

main button:hover {
  background: #3dbfb8;
  border: #3dbfb8;
}

main button:disabled{
  pointer-events: none;
}

#create-thread{
  position: absolute;
  right: 0px;
  top: 0px;
  margin: 5px;
}
/* #create-thread:hover {
  border: #3dbfb8;
  background: #e3f6f5;
  color: black;
} */

#return-nav{
  position: absolute;
  right: 0px;
  top: 0px;
  margin: 5px;
}

input{
  font-size: 1em;
  margin: 5px;
  padding: 15px 10px 10px;
}
input[type="submit"]{
  border-radius: 8px;
  padding: 0.6em 1.2em;
  border: solid 1px #3dbfb8;
  background: #e3f6f5;
  margin: 5px;
}
input[type="submit"]:hover{
  background: #3dbfb8;
  border: #3dbfb8;
}

#post-list{
  display: 'flex';
  flex-direction:column;
}

#post-list li{
  background: #ffffff;
  pointer-events: none;
}

.thread-container{
  display: flex;
}

#post-form-container{
  margin: 0px 10px;
  padding: 10px 20px;
}

#post-form-container textarea {
  resize: none;
  width: 100%;
  height: 5.5em;
}

.half{
  width: 50%;
}
